<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoinii.mapper.doctorMapper">
    <select id="getDoctorByCodeByPass" resultType="com.example.demoinii.po.Doctor">
        select docCode,realName,password,docId,sex,deptno from doctor where docCode=#{docCode} and password=#{password}
    </select>
</mapper>