<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoinii.mapper.hospitalMapper">
    <update id="updateOrdersState">
        update hospital
        <set >
        <if test="name != null" >
            name= #{name,jdbcType=VARCHAR},
        </if>
        <if test="picture != null" >
            picture= #{picture,jdbcType=CHAR},
        </if>
        <if test="telephone != null" >
            telephone= #{telephone,jdbcType=CHAR},
        </if>
        <if test="address!= null" >
            address= #{address,jdbcType=CHAR},
        </if>
        </set>
        where hpId=#{hpId}
    </update>

    <select id="listHospital" resultType="com.example.demoinii.po.Hospital">
    select hpId,name,
    picture,telephone,address,businessHours,deadline,rule,state from hospital where state=#{state} limit 1;
    </select>
    <select id="getHospitalById" resultType="com.example.demoinii.po.Hospital">
    select hpId,name,
    picture,telephone,address,businessHours,deadline,rule,state from hospital where hpId=#{hpId};
    </select>
    <select id="getHospitalById1" >
        select rule from hospital
    </select>
</mapper>